/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN styles */
.container {
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    justify-content: flex-start;
}
.difficulty {
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 15px;
    width: 100%;
    text-align: center;
}
.btn {
    margin: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: beige;
}
.btn:hover{
    transform: scale(105%);
    cursor: pointer;
}

.grid {
    width: 30%;
    /* min-height: fit-content; */
    margin: 0 auto;
    border: 5px solid red;
    flex-direction: row;
    justify-content:center ;
}

/* CELLS styles */
.cell{
    content: "";
    border: 1px solid black;
    text-align: center;
    padding: 0.6em 0.5em;
    line-height: 100%;
}

/* 
    i wanted to make the element perfect square but i would
    have to add a absolute dinamic element on top...
    too much work
 */
/* 
.cell:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}
 */
.cell:hover{
    cursor: pointer;
    background-color: beige;
}
.cell.selected:hover{
    cursor:pointer;
    background-color: blue;
}
.cell-easy {
    width: 10%;
}
.cell-normal{
    width: calc(100% / 9 );
}
.cell-hard {
    width: calc(100% / 7);
}

/* utility classes */

.selected{
    background-color: blue;
    color: white;
    font-weight: bold;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
